@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body,
input {
  font-family: "Poppins", sans-serif;
}

.content {
    display: grid;
    grid-template-columns: 29% 69%;
    grid-gap: 2%;
    margin: -65px 40px auto 0;
}

.content a {
    text-decoration: none;
}

.nav-bar li {
    padding: 10px;
    margin-left: -20px;
    margin-bottom: 2px;
    /*background-color: aqua;*/
    text-align: center;
    color: #fff;
}

.nav-bar {
    display: flex;
    background-color: #212529;
    align-items: center;
    flex-flow: column wrap;
}

.titulo {
    text-align: center;
    border: 3px #0B5ED7 solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}

.categorias {
    margin-top: 20px;
}

.filtro-pesquisa {
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    color: #fff;
}

.escolas {
    margin-top: 20px;
    height: 750px;
    overflow-x: auto;
}

.cont-esc {
    margin: 10px;
}

.allrights {
    text-align: center;
}