* {
    margin: 0;
}

.form-container {
    display: grid;
    grid-template-columns: 39% 59%;
    margin: 10em;
    border: 1px solid black;
    column-gap: 2%;
}

.right-side {
    border: 1px solid black;
    background-color: #313437;
    padding: 20px;
}

.left-side {
    padding: 20px;
}

.form-title > h1 {
    color: white;
    text-align: center;
}

.text {
    text-align: center;
    margin-top: 60px;
    color: #fff;
}

.first-block {
    display: grid;
    /*grid-template-columns: 25% 25% 25%;*/
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    grid-gap: 30% 8%;
    margin-top: 40px;
}

.input-field input {
    border-radius: 30px;
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
}

.st-row-chbx {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    column-gap: 8%;
}

.input-chbx {
    border-radius: 30px;
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
}

.nd-row-chbx {
    display: flex;
    justify-content: center;

    column-gap: 30px;
    margin: 30px auto 30px auto;
}

.input-chbx {
    background-color: #fff;
    width: 206px;
    height: 40px;
}

.input-chbx input, label {
    cursor: pointer;
    margin-top: 10px;
}

.last-block {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    column-gap: 8%;
}

.input-last-block input{
    border-radius: 30px;
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
}

select {
    border-radius: 30px;
    height: 40px;
    width: 206px;
    text-align: center;
    outline: none;
    border: none;
    color: #5a5a5a;
}

#input-file {
    display: none;
}

.import-image {
    background-color: #fff;    
    border-radius: 30px;
    height: 40px;
    width: 206px;
    text-align: center;
    outline: none;
    border: none;
    margin: 0;
}

.btn_enviar {
    text-align: center;
    margin-top: 70px;
}